body {
  background-color: rgb(0, 0, 0);
}

.nav-link {
  margin-right: 5px;
  margin-top: 3px;
  margin-left: 2px;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
}

.nav-link:hover {opacity: 0.7}

#logo1 {
  width: 45px;
  height: 45px;
}

.card-img-top {
  width: 90%;
  height: 90%;
}
.card {
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.table {
  background-color: antiquewhite;
}

#jumbitroni {
  height: 190px;
}

#yumbotro {
  height: 300px;
}

.table {
  text-align: center;
}

.mt-1 {
  margin-left: 5px;
}

#espiner {
  width: 35px;
  height: 35px;
}

#canvas {
  background-color: aliceblue;
}

#p1 {
  color: red;
  display: none;
}

#p2 {
  color: red;
  display: none;
}

#p3 {
  color: red;
  display: none;
}
#p4 {
  color: red;
  display: none;
}

#si1 {
  color: red;
  display: none;
}

#si2 {
  color: red;
  display: none;
}

#emsi1 {
  color: red;
  display: none;
}
#pswsi1 {
  color: red;
  display: none;
}
#finsi1 {
  color: red;
  display: none;
}
#agesi1 {
  color: red;
}
#headh1{
  color: white;
}


#ildiv{
  text-align:center;
  width:480px;
}

.col-sm-3{
  text-align: center;
}

#one{
  text-align: center;
  background-color: blue;
}

#two{
  text-align: center;
  background-color: red;
}

#three{
  text-align: center;
  background-color: green;
}

#res{
  text-align: center;
  background-color: white;
}

#h31{
  text-align: center;
}

#resulty1{
  display: none;
  color: red;
}

#resulty2{
  display: none;
  color: green;
}

/* Here the other equals*/
#one1{
  text-align: center;
  background-color: blue;
}

#two1{
  text-align: center;
  background-color: red;
}

#three1{
  text-align: center;
  background-color: green;
}

#res1{
  text-align: center;
  border: solid;
  border-color: black;
  background-color: white;
}

#h311{
  text-align: center;
}

#resulty11{
  display: none;
  color: red;
}

#resulty21{
  display: none;
  color: green;
}
/*Tohere*/
#one2{
  text-align: center;
  background-color: blue;
}

#two2{
  text-align: center;
  background-color: red;
}

#three2{
  text-align: center;
  background-color: green;
}

#res2{
  text-align: center;
  border: solid;
  border-color: black;
  background-color: white;
}

#h312{
  text-align: center;
}

#resulty12{
  display: none;
  color: red;
}

#resulty22{
  display: none;
  color: green;
}

#divcool{
  display: none;
}

#divcool2{
  display: none;
}

#hallof{
  display: none;
}

.carousel-item{
  width: 700px;
  height: 450px;
}

#footr{
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: #cccccc;
  color: white;
  text-align: center;
  background-image: url("../img/footfond.png");
}

.btn-link:hover {
  background: #e7e7e7;
}

.btn-link {
  border-color: #e7e7e7;
}

.fa {
  padding: 12px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

#logofoot{
  margin-top: 13px;
  width: 60px;
  text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.card-img-top {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card-img-top:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}