body {
  background-color: rgb(0, 0, 0);
  /*background-image: ;*/
}

.nav-link {
  margin-right: 5px;
  margin-top: 3px;
  margin-left: 2px;
  text-align: center;
}

#logo1 {
  width: 45px;
  height: 45px;
}

.card-img-top {
  width: 90%;
  height: 90%;
}
.card {
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.table {
  background-color: antiquewhite;
}

#jumbitroni {
  height: 190px;
}

#yumbotro {
  height: 300px;
}

.table {
  text-align: center;
}

.mt-1 {
  margin-left: 5px;
}

#espiner {
  width: 35px;
  height: 35px;
}

#canvas {
  background-color: aliceblue;
}

#p1 {
  color: red;
  display: none;
}

#p2 {
  color: red;
  display: none;
}

#p3 {
  color: red;
  display: none;
}
#p4 {
  color: red;
  display: none;
}

#si1 {
  color: red;
  display: none;
}

#si2 {
  color: red;
  display: none;
}

#emsi1 {
  color: red;
  display: none;
}
#pswsi1 {
  color: red;
  display: none;
}
#finsi1 {
  color: red;
  display: none;
}
#agesi1 {
  color: red;
}
#headh1{
  color: white;
}


#ildiv{
  text-align:center;
  width:480px;
}

.col-sm-3{
  text-align: center;
}

#one{
  text-align: center;
  background-color: blue;
}

#two{
  text-align: center;
  background-color: red;
}

#three{
  text-align: center;
  background-color: green;
}

#res{
  text-align: center;
  background-color: white;
}

#h31{
  text-align: center;
}

#resulty1{
  display: none;
  color: red;
}

#resulty2{
  display: none;
  color: green;
}

/* Here the other equals*/
#one1{
  text-align: center;
  background-color: blue;
}

#two1{
  text-align: center;
  background-color: red;
}

#three1{
  text-align: center;
  background-color: green;
}

#res1{
  text-align: center;
  border: solid;
  border-color: black;
  background-color: white;
}

#h311{
  text-align: center;
}

#resulty11{
  display: none;
  color: red;
}

#resulty21{
  display: none;
  color: green;
}
/*Tohere*/
#one2{
  text-align: center;
  background-color: blue;
}

#two2{
  text-align: center;
  background-color: red;
}

#three2{
  text-align: center;
  background-color: green;
}

#res2{
  text-align: center;
  border: solid;
  border-color: black;
  background-color: white;
}

#h312{
  text-align: center;
}

#resulty12{
  display: none;
  color: red;
}

#resulty22{
  display: none;
  color: green;
}

#divcool{
  display: none;
}

#divcool2{
  display: none;
}
