body {
  background-color: rgb(0, 0, 0);
  /*background-image: ;*/
}

.nav-link {
  margin-right: 5px;
  margin-top: 3px;
  margin-left: 2px;
  text-align: center;
}

#logo1 {
  width: 45px;
  height: 45px;
}

.card-img-top {
  width: 90%;
  height: 90%;
}
.card {
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.table {
  background-color: antiquewhite;
}

#jumbitroni {
  height: 190px;
}

#yumbotro {
  height: 300px;
}

.table {
  text-align: center;
}

.mt-1 {
  margin-left: 5px;
}

#espiner {
  width: 35px;
  height: 35px;
}

#canvas {
  background-color: aliceblue;
}

#p1 {
  color: red;
  display: none;
}

#p2 {
  color: red;
  display: none;
}

#p3 {
  color: red;
  display: none;
}
#p4 {
  color: red;
  display: none;
}

#si1 {
  color: red;
  display: none;
}

#si2 {
  color: red;
  display: none;
}

#emsi1 {
  color: red;
  display: none;
}
#pswsi1 {
  color: red;
  display: none;
}
#finsi1 {
  color: red;
  display: none;
}
#agesi1 {
  color: red;
}
#headh1{
  color: white;
}
#dead{
    color: red;
    display: none;
}

canvas{
  align-items: center;
  background-color: aliceblue;
}

#ildiv{
  text-align:center;
  width:480px;
}